* {
    margin: 0;
    padding: 0;

    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100%;

    background-color: rgb(86, 255, 123);
}

body header {
    width: 100%;
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: rgb(255, 255, 255);
}

body main {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

body main #login {
    width: 360px;
    height: 360px;

    border-radius: 10px;

    background-color: rgb(255, 255, 255);

    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin-top: 36px;

    width: 80%;

}

form input{
    width: 100%;
    margin-bottom: 20px;
    padding: 5px;

    border: none;
    border-bottom: 2px solid rgb(86, 255, 123);
    outline: none;
}

form input:hover{
    border-bottom: 2px solid rgb(66, 109, 75);
}

form button {
    width: 150px;
    height: 50px;

    color: white;
    font-weight: 700;

    margin-top: 50px;

    border: none;
    background-color: rgb(86, 255, 123);
    border-radius: 10px;

    cursor: pointer;

    transition: all 0.2s;
}

form button:hover {
    color: white;
    background-color: rgb(85, 145, 98);
}

#login div {
    margin-top: 60px;
}

a {  
    color: #000000;
}

.modal{
    background-color:rgb(86, 255, 123);
    width: 100%;
    height: 80%;

    position: fixed;
    z-index: 999;

    opacity: 0;
    visibility: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.active {
    opacity: 1;
    visibility: visible;
}

.modal div {
    width: 420px;
    height: 170px;
    background-color: white;

    display:flex;
    justify-content: space-around;
    align-items: center;

    border-radius: 10px;

}

.modal p {
    color: white;
    margin-bottom: 20px;

    cursor: pointer;
    text-decoration: underline;
}

.modal .div-img-seta{
    width: 25px;
    height: 25px;

    margin-bottom: 10px;;

    background-color: rgb(86, 255, 123);

    cursor: pointer;

    position: relative;
    left: -195px;
}

.modal .div-img{
    width: 100px;
    height: 110px;
    padding: 5px;
    border-radius: 5px;

    
    background-color: rgb(64, 230, 100);
}